{% load compress %}
{% load static %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
    {% endcompress %}
    
</head>
<body> 
     {% comment %} Sidebar {% endcomment %}
    <div>
        Tes
    </div>
     
</body>
</html>